# .gitignore
project/config.py
project/__pycache__
.gitattributes
.git
.DS_Store
key-pair-7.pem
notes.md
.vscode

# Terraform
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Force it to rebuild notebook.py
project/notebook.py

# Force it to rebuild model
project/model
project/model.joblib
project/preprocessor.joblib